
.lista_eventos {
    height: 84vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
    color: black;
    
}

.itens_lista img {
    height: 20px;
}

.tabelas {
    width: 80%;
    margin-top: 40px;
    text-align: center;
    border-bottom: 1px solid #201849;
    margin-left: -60px;

}


.tabelas .table_cabecalhos :first-child {
    width: 300px;
    
    
}

.tabelas .table_cabecalhos :nth-child(2) {
    width: 760px;
    text-align: start;
    

}


.tabelas .itens_lista :nth-child(2){
    text-align: start;
    
}

.tabelas .table_cabecalhos th {
    border-bottom: 1px solid #B51D44;
    width: 100px;
    /* margin-top: 40px; */
    padding: 5px 0;
    
}

.itens_lista td {
    padding: 28px 0 0 1px;
    border-bottom: 1px solid black;
}

.select_eventos {
    border: none;
    border-left: none;
    border-right: none;
    border-top: none;
    outline: none;
    padding: 0 5px;
    width: 355px;
    height: 30px;
    margin-bottom: 60px;
    color: black;
    display: flex;
    border-bottom: 1px solid #201849;
    
}

h1{
    border-bottom: 1px solid #B51D44;
}