Header {
    background-color: white;
    height: 75px;
       /* Borda:  */
       box-shadow: 1px 4px 4px 0px #00000055;
       position: relative;
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.cabecalho img {
    width: 115px;
    height: 20px;
}

.link_header {
    margin-left: 45px;
    color: #201849;
    text-decoration: none;
    
}

.Admin{
    margin-right: 9px;
}

.Admin  .link_header img{
    width: 18px;
    height: 16px;
    margin-left: 10px;
    display: flex;
    justify-content: flex-end;
}

.link_header img {
    width: 20px;
    height: 18px;
    margin-left: -20px;
    
}

@media screen and (max-width: 768px) {
    .cabecalho img {
        height: 35px;
    }

    .link_header {
        margin-left: 10px;
    }
}

